/* Extra Small Device */
@media (max-width: 767px) {


}


/* Small Device */
@media (min-width: 768px) {


}

/* Medium   Device */
@media (min-width: 992px) {


}

/* Large Device */
@media (min-width: 1200px) {


}